/* Color palette */
:root {
  --vt-c-white: #FFFFFF;
  --vt-c-ghost-white: #F3F3F3;
  --vt-c-offwhite: #B0B1B5;
  --vt-c-darkwhite: #C1C1C1;
  --vt-c-black: #36373F;
  --vt-c-pure-black: #000000;
  --vt-c-red: #B91228;
  --vt-c-pink: #f4c6cda5;
  --vt-c-green: #28B446;
  --vt-c-shadow-white: #ffffff10;
  --vt-c-shadow-black: #36373f10;

  /* Default to light mode variables */
  --color-menu-background: var(--vt-c-white);
  --color-background: var(--vt-c-ghost-white);
  --color-text: var(--vt-c-black);
  --color-subtext: var(--vt-c-darkwhite);
  --color-shadow: var(--vt-c-shadow-black);
  --color-highlight: var(--vt-c-red);
}

/* Override for system dark preference */
@media (prefers-color-scheme: dark) {
  :root {
    --color-menu-background: var(--vt-c-black);
    --color-background: var(--vt-c-pure-black);
    --color-text: var(--vt-c-white);
    --color-subtext: var(--vt-c-offwhite);
    --color-shadow: var(--vt-c-shadow-white);
    --color-highlight: var(--vt-c-red);
  }
}

/* Manual dark override */
:root.theme-dark {
  --color-menu-background: var(--vt-c-black);
  --color-background: var(--vt-c-pure-black);
  --color-text: var(--vt-c-white);
  --color-subtext: var(--vt-c-offwhite);
  --color-shadow: var(--vt-c-shadow-white);
  --color-highlight: var(--vt-c-red);
}

/* Manual light override */
:root.theme-light {
  --color-menu-background: var(--vt-c-white);
  --color-background: var(--vt-c-ghost-white);
  --color-text: var(--vt-c-black);
  --color-subtext: var(--vt-c-darkwhite);
  --color-shadow: var(--vt-c-shadow-black);
  --color-highlight: var(--vt-c-red);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-size: 15px;
  font-family: 'Ubuntu';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  all: unset;
}