/* color palette */
:root {
  --vt-c-white: #ffffff;
  --vt-c-offwhite: #D7D7D7;
  --vt-c-black: #1E1E1E;
  --vt-c-highlight: #B91228;
  --vt-c-red: #B91228;
  --vt-c-green: #28B446;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-black);
  --color-subtext: var(--vt-c-offwhite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-white);
    --color-subtext: var(--vt-c-offwhite);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-size: 15px;
  font-family: 'Ubuntu';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}
