.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 44px;
    border-radius: 8px;
    background: var(--vt-c-highlight);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
}

/* Auth headers */
#auth-header-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
    flex-wrap: wrap;
}

#auth-header-title span {
    font-weight: 800;
    font-size: clamp(16px, 5vw, 24px);
}

#auth-header-subtext {
    color: var(--color-subtext);
    text-wrap: wrap;
    font-size: clamp(12px, 4vw, 16px);
}

/* Horizontal Dividers */
#horizontal-divider {
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.horizontal-divider-bar {
    height: 1px;
    flex: 1;
    background-color: var(--color-subtext);
    max-width: auto;
}

.create-account-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    text-align: center;
}

/* Dashboard */
.dashboard-view-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.dashboard-view-wrapper::-webkit-scrollbar { display: none; }

.dashboard-header-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 16px 12px;
}

@media (max-width: 635px) {
  .dashboard-header-items { display: none; }
}

/* Vue 3 Easy Data Table */
.vue3-easy-data-table,
.vue3-easy-data-table__main,
.vue3-easy-data-table__body,
.vue3-easy-data-table table {
  overflow: visible !important;
}

.vue3-easy-data-table__main {
  padding-top: 4px;
  padding-bottom: 8px;
}

.vue3-easy-data-table tbody tr:hover {
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 8px var(--color-shadow);
  transform: translateY(-2px);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border-radius: 8px;
  cursor: pointer;
}

.vue3-easy-data-table__footer {
  margin-top: auto; /* sticks to bottom */
}

.multi-sort__number {
  display: none;
}

.data-table {
  user-select: none;

  --easy-table-border: none;
  --easy-table-row-border: none;

  --easy-table-header-font-size: 14px;

  --easy-table-header-height: 40px;
  --easy-table-body-row-height: 60px;
  --easy-table-footer-height: 60px;

  --easy-table-body-row-font-size: 12px;

  --easy-table-header-font-color: var(--color-text);
  --easy-table-header-background-color: var(--color-menu-background);
  --easy-table-body-row-font-color: var(--color-text);
  --easy-table-body-row-background-color: var(--color-menu-background);
  --easy-table-footer-font-color: var(--color-text);
  --easy-table-footer-background-color: var(--color-menu-background);

  --easy-table-body-row-hover-font-color: var(--color-text);
  --easy-table-body-row-hover-background-color: none;

  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.data-table th {
  font-weight: 700;
}

/* Dashboard headed buttons */
.dashboard-header-button {
  width: 136px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-text);
  background: var(--color-menu-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 2px 4px;
}

.dashboard-header-button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.dashboard-header-button span {
  font-size: 13px;
  font-weight: 700;
}

.dashboard-button-container {
  display: flex;
  gap: 16px;
}